@import "src/styles/_globla.scss";

.btn-login-action {
  width: 150px;
}

.custom-control-label {
  &:hover {
    cursor: pointer;
  }
}

.btn.disabled {
  background: $gudpost-yellow;
  cursor: not-allowed !important;
}