#notfound {
  position: relative;
  height: 100vh;

  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .notfound-404 {
      height: 200px;
      line-height: 200px;

      h1 {
        font-family: 'Fredoka One', cursive;
        font-size: 168px;
        margin: 0px;
        color: #ff508e;
        text-transform: uppercase;
      }
    }

    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #222;
      margin: 0;
    }
  }
}
