.card {
  border-radius: 0;
}

.user-avatar {
  width: 30px;
  border-radius: 50%;

  &.preview {
    width: 50px;
  }
}

.media {
  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    cursor: pointer;
  }

  &.preview {
    &:hover {
      box-shadow: none;
      cursor: pointer;
    }
  }
}

.input {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  padding: 0.5rem;
  // background: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;


  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
  }

  &:focus {
    outline: none;
  }
}

.btn-select-channel {
  width: 150px;
  height: 50px;

  i {
    font-size: 1.25rem;
  }
}


.text-area-preview {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
}

.collapse {
  &.collapse-pages {
    margin-top: -1.25rem;
  }
}

.custom-control-label {
  &:hover {
    cursor: pointer;
  }
}
