<div class="d-flex flex-row">
  <div class="card w-25 border-bottom-0">
    <div class="card-header">
      <h5 class="text-uppercase">Project</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ul class="card-text list-unstyled">
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body" data-toggle="collapse" data-target="#collapseProject1" aria-expanded="true"
              aria-controls="collapseProject1">
              <h6>Project 1</h6>
            </div>
          </li>
          <li class="mb-3 w-100 border-bottom">
            <div class="collapse collapse-pages show" id="collapseProject1">
              <div class="card card-body border border-white pr-0">
                <ul class="w-100 card-text list-unstyled">
                  <li class="media mb-3 d-flex align-items-center p-1">
                    <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
                    <div class="media-body">
                      <h6>Page 1</h6>
                      <small>Facebook</small>
                    </div>
                  </li>
                  <li class="media mb-3 d-flex align-items-center p-1">
                    <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
                    <div class="media-body">
                      <h6>Page 2</h6>
                      <small>Facebook</small>
                    </div>
                  </li>
                  <li class="media mb-3 d-flex align-items-center p-1">
                    <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
                    <div class="media-body">
                      <h6>Page 5</h6>
                      <small>Facebook</small>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </li>

          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body" data-toggle="collapse" data-target="#collapseProject2" aria-expanded="true"
              aria-controls="collapseProject2">
              <h6>Project 2</h6>
            </div>
          </li>
          <li class="mb-3 w-100 border-bottom">
            <div class="collapse collapse-pages show" id="collapseProject2">
              <div class="card card-body border border-white pr-0">
                <ul class="w-100 card-text list-unstyled">
                  <li class="media mb-3 d-flex align-items-center p-1">
                    <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
                    <div class="media-body">
                      <h6>Page 3</h6>
                      <small>Facebook</small>
                    </div>
                  </li>
                  <li class="media mb-3 d-flex align-items-center p-1">
                    <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
                    <div class="media-body">
                      <h6>Page 4</h6>
                      <small>Facebook</small>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card text-white bg-primary w-50">
    <div class="card-header">
      <h5 class="text-uppercase">Your post</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control shadow" id="exampleFormControlTextarea1" rows="11"></textarea>
          <div class="input bg-light">
            <input type="file" name="file" id="file" class="inputfile " />
            <label for="file" class="bg-primary mr-2">
              <i class="far fa-images"></i>
            </label>
            <input type="text" name="emoji" id="emoji" class="inputfile " />
            <label for="emoji" class="bg-primary">
              <i class="fas fa-icons"></i>
            </label>
          </div>
        </div>

        <div class="form-group mt-4 pb-4 border-bottom">
          <label for="exampleFormControlTextarea1">Selected Pictures</label>
          <div>
            <i class="fas fa-plus mr-3" style="font-size: 5rem"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-white w-50">
    <div class="card-header">
      <h5 class="text-uppercase">Review</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="form-group">

          <ul class="w-100 card-text list-unstyled">
            <li class="media mb-3 d-flex align-items-center p-1 preview">
              <img src="assets/users/joe.jpg" class="img-fluid user-avatar preview mr-3">
              <div class="media-body">
                <h6 class="text-primary text-strong"><strong>Page 1</strong></h6>
                <small>Now - <i class="fas fa-globe-americas ml-1"></i> </small>
              </div>
            </li>
            <li class="media mb-3 d-flex align-items-center p-1 preview border-bottom">
              <textarea disabled placeholder="Your post will be here ..."
                class="form-control bg-white border-0 text-area-preview" id="exampleFormControlTextarea1"
                rows="5">{{p}}</textarea>
            </li>
            <li style="height: 310px" class="media mb-3 d-flex align-items-center p-1 preview border-bottom">
              <i class="fas fa-camera-retro text-center text-primary mr-3" style="font-size: 7rem"></i>
              <!-- <img src="assets/logo/GUDPOST-2.png" class="img-fluid" alt=""> -->
              <h6>Your pictures will be here ...</h6>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-row">
  <div class="card bg-white w-25 border-top-0">

  </div>

  <div class="card bg-light w-50 border-top-0">
    <div class="card-body">
      <div class="card-text d-flex justify-content-around">

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="publishnowCheck" name="publishactionsCheck">
          <label class="custom-control-label" for="publishnowCheck">Publish Now</label>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="scheduleCheck" name="publishactionsCheck">
          <label class="custom-control-label" for="scheduleCheck">Schedule</label>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="savedraftCheck" name="publishactionsCheck">
          <label class="custom-control-label" for="savedraftCheck">Save draft</label>
        </div>

      </div>
    </div>
  </div>

  <div class="card bg-light w-50 border-top-0">
    <div class="card-body p-0">
      <button class="btn btn-light btn-block h-100">Done</button>
    </div>
  </div>

</div>
