<div class="container d-flex justify-content-center align-items-center mb-4">
  <div class="mr-4">
    <img class="user-avatar img-fluid" src="https://arawal.files.wordpress.com/2015/07/flat-faces-icons-circle-3.png"
      alt="">
  </div>

  <span>
    <h3 class="user-name">Hi, JOE DOE</h3>
    <h5 class="text-uppercase">
      wellcome to gudposts
    </h5>
    <button class="btn btn-sm btn-primary float-right">User's Profile</button>
  </span>
</div>

<div class="jumbotron jumbotron-fluid p-0">
  <div class="container d-flex justify-content-around">

    <div class="item d-flex align-items-center">
      <h4 class="display-4">Daily Status</h4>
    </div>

    <div class="item">
      <h3 class="display-3">10</h3>
      <p class="lead">Post Schedule</p>
    </div>

    <div class="item">
      <h3 class="display-3">15</h3>
      <p class="lead">Success Publish</p>
    </div>

    <div class="item">
      <h3 class="display-3">00</h3>
      <p class="lead">Errors</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 h-100">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Top Projects</h5>
        <div class="card-text">
          <table id="accordionExample" class="table table-hover accordion">
            <thead>
              <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Project</th>
                <th scope="col">Total Fans</th>
                <th scope="col">Fan Increase</th>
                <th scope="col">Post Sent</th>
                <th scope="col">Engagement</th>
              </tr>
            </thead>
            <tbody>
              <tr tabindex="0" data-toggle="collapse" href="#collapseProject1" aria-expanded="true"
                aria-controls="collapseProject1">
                <td>
                  <img class="img-thumbnail fanpage-thumbnail"
                    src="https://www.clipartmax.com/png/middle/60-605767_whats-the-hold-up-a-guide-on-processing-time-confused-person-cartoon.png"
                    alt="">
                </td>
                <td>
                  Project 1
                </td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
              </tr>
              <tr routerLink="/contentplan"  data-parent="#accordionExample" class="collapse" id="collapseProject1">
                <td class="project-detail-row" colspan="1"></td>
                <td class="project-detail-row">Page 1</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
              </tr>
              <tr routerLink="/contentplan"  data-parent="#accordionExample" class="collapse" id="collapseProject1">
                <td class="project-detail-row" colspan="1"></td>
                <td class="project-detail-row">Page 2</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
              </tr>

              <tr tabindex="0" data-toggle="collapse" href="#collapseProject2" aria-expanded="false"
                aria-controls="collapseProject2">
                <td>
                  <img class="img-thumbnail fanpage-thumbnail"
                    src="https://www.clipartmax.com/png/middle/60-605767_whats-the-hold-up-a-guide-on-processing-time-confused-person-cartoon.png"
                    alt="">
                </td>
                <td>
                  Project 2
                </td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
                <td>1000</td>
              </tr>
              <tr class="table-secondary"  data-parent="#accordionExample" routerLink="/contentplan" class="collapse" id="collapseProject2">
                <td class="project-detail-row" colspan="1"></td>
                <td class="project-detail-row">Page 3</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
              </tr>
              <tr routerLink="/contentplan" data-parent="#accordionExample"  class="collapse" id="collapseProject2">
                <td class="project-detail-row" colspan="1"></td>
                <td class="project-detail-row">Page 4</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
                <td class="project-detail-row">500</td>
              </tr>

            </tbody>
          </table>
        </div>
        <a routerLink="/projects" class="btn btn-primary">All project</a>
      </div>
    </div>
  </div>
</div>
