<div class="d-flex flex-row">
  <div class="card w-50">
    <div class="card-header">
      <h5 class="text-uppercase">Info</h5>
    </div>
    <div class="card-body">

      <div class="d-flex justify-content-center align-items-center">
        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file">
          <i class="far fa-images"></i>
        </label>

        <div class="d-flex flex-column ml-2">
          <input type="text" class="mb-3 p-2">
          <span class="badge badge-light p-3">Asia/Ho Chi Minh city</span>
        </div>
      </div>

      <div class="mt-5">
        <h6>Select Channel</h6>

        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-light shadow-sm btn-select-channel">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-light shadow-sm btn-select-channel">
            <i class="fab fa-instagram"></i>
          </button>
          <button type="button" class="btn btn-light shadow-sm btn-select-channel">
            <i class="fab fa-linkedin-in"></i>
          </button>
        </div>
      </div>

      <div class="mt-5">
        <h6>Setting up automatic UTM parameters for this channel</h6>

        <div class="container">
          <div class="row mb-2">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center"><small>utm_campaign</small></div>
            <div class="col-md-3 text-center"><small>utm_content</small></div>
            <div class="col-md-3 text-center"><small>utm_source</small></div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">Facebook</div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">Instagram </div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">Facebook</div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
            <div class="col-md-3"><input class="w-100" type="text"></div>
          </div>
        </div>
      </div>

      <div class="mt-5 d-flex justify-content-center">
        <button class="btn btn-primary">Done</button>
      </div>

    </div>
  </div>

  <div class="card text-white bg-primary w-25">
    <div class="card-header">
      <h5 class="text-uppercase">Channel (0)</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title border-bottom d-flex justify-content-between align-items-center pb-2">
        Select channel
        <button class="btn btn-light btn-sm shadow float-right">Done</button>
      </h6>

      <div class="card-text">
        <ul class="card-text list-unstyled">
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Page 1</h6>
              <small>Facebook</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Page 2</h6>
              <small>Facebook</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Page 3</h6>
              <small>Instagram</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Page 4</h6>
              <small>Instagram</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card text-white bg-info w-25">
    <div class="card-header">
      <h5 class="text-uppercase">Members (0)</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title border-bottom d-flex justify-content-between align-items-center pb-2">
        Select member
        <button class="btn btn-light btn-sm shadow float-right">Done</button>
      </h6>
      <div class="card-text">
        <ul class="card-text list-unstyled">
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Member 1</h6>
              <small>Admin</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Member 2</h6>
              <small>Content</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Member 3</h6>
              <small>Content</small>
            </div>
          </li>
          <li class="media mb-3 d-flex align-items-center p-1">
            <img src="assets/users/joe.jpg" class="img-fluid user-avatar mr-3">
            <div class="media-body">
              <h6>Member 4</h6>
              <small>Content</small>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
