<div class="container-fluid h-100">

  <div class="row h-100">

    <app-side-navigation class="col-md-2 d-none d-md-block bg-light sidebar"></app-side-navigation>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="content pt-3 pb-2 mb-3">
        <router-outlet></router-outlet>
      </div>

    </main>
  </div>

</div>

<!-- Publish Now Modal -->
<div class="modal fade" id="publishNowModal" tabindex="-1" role="dialog" aria-labelledby="publishNowModal"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="publishNowModal">Publish Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-publishnow></app-publishnow>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Project -->
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="addProjectModal">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-addproject></app-addproject>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
