<div class="container mx-auto login-form">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="hasErrors">
    <p>
      Wrong Email or Password, check again please !
    </p>
    <button type="button" class="close" (click)="onDismissAlert()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class=" d-flex justify-content-center mb-4">
    <img src="assets/logo/GUDPOST-2.png" class="img-fluid w-75" alt="">
  </div>

  <app-login-form 
  (loginWithFacebook)="loginWithFacebook($event)"
  (loginUser)="submit($event)" 
  (rememberMe)="onCheckRememberMe($event)"></app-login-form>

  <hr>

  <div class="text-center">
    <button class="btn btn-light text-secondary">Forgot password</button>
  </div>

</div>
