<div style="height: 350px; height: 100%; margin-bottom: 5rem" >
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>

<div style="height: 350px; height: 100%; margin-bottom: 5rem" >
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
