<div class="container-fluid mt-5">
  <div class="row">

    <div class="col-12">
      <div class="list-group list-group-horizontal-xl" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action mr-2 active" data-toggle="list" role="tab" id="list-all-list"
          href="#list-all" aria-controls="home">
          All
        </a>

        <a class="list-group-item list-group-item-action list-group-item-success mr-2" id="list-success-list" data-toggle="list"
          href="#list-success" role="tab" aria-controls="success">
          <i class="fas fa-check"></i> Success
        </a>

        <a class="list-group-item list-group-item-action list-group-item-danger mr-2" id="list-error-list" data-toggle="list"
          href="#list-error" role="tab" aria-controls="error">
          <i class="fas fa-times"></i> Error
        </a>

        <a class="list-group-item list-group-item-action list-group-item-info mr-2" id="list-schedule-list" data-toggle="list"
          href="#list-schedule" role="tab" aria-controls="schedule">
          <i class="fas fa-clock"></i> Schedule
        </a>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" role="tabpanel" id="list-all" aria-labelledby="list-all-list">
          <div class="list-group">
            <div class="list-group-item list-group-item-action list-group-item-success mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>

            <a href="#" class="list-group-item list-group-item-action list-group-item-danger mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-info mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </a>

          </div>
        </div>

        <div class="tab-pane fade" id="list-success" role="tabpanel" aria-labelledby="list-success-list">
          <div class="list-group">
            <div class="list-group-item list-group-item-action list-group-item-success mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="list-error" role="tabpanel" aria-labelledby="list-error-list">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="tab-pane fade" id="list-schedule" role="tabpanel" aria-labelledby="list-schedule-list">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-info mb-2">
              <div class="d-flex w-100 justify-content-between">
                <small>06/06/2019</small>
              </div>
              <div class="d-flex w-100 justify-content-around align-items-center">
                <img class="img-thumbnail post-thumbnail" src="assets/users/joe.jpg" alt="">

                <p class="mb-1 w-50">
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.
                </p>

                <div>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-link"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-paste"></i>
                  </button>
                  <button class="btn btn-sm btn-primary mr-2">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
