@import 'styles/bootstrap';
@import 'styles/globla';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif !important;
}